div(class='team-module team-work')
    h2(class='team-title') 职级体系与工作岗位
    div(class='work-cont')
        h3(class='work-title') 职级体系分为四个序列：
            b 实习序列、技术序列、管理序列、经营序列
            ='，职级影响员工薪酬水平。'
        table(cellspacing='0',cellpadding='0',class='team-table')
            tr
                th 实习序列
                th 技术序列
                th 管理序列
                th 经营序列
            tr
                td(class='rline') S1
                td(class='rline') P1
                td(class='rline') M1
                td C1
            tr(style='background:#f5f7fa')
                td(class='rline') S2
                td(class='rline') P2
                td(class='rline') M2
                td C2
            tr
                td(class='rline') S3
                td(class='rline') P3
                td(class='rline') M3
                td C3
            tr(style='background:#f5f7fa')
                td(class='rline')
                td(class='rline') P4
                td(class='rline') M4
                td C4
            tr
                td(class='rline')
                td(class='rline') P5
                td(class='rline') M5
                td C5
            tr(style='background:#f5f7fa')
                td(class='rline')
                td(class='rline') P6
                td(class='rline') M6
                td C6
            tr
                td(class='rline')
                td(class='rline') P7
                td(class='rline')
                td
            tr(style='background:#f5f7fa')
                td(class='rline')
                td(class='rline') P8
                td(class='rline')
                td
            tr
                td(class='rline')
                td(class='rline') P9
                td(class='rline')
                td
        h3(class='work-title') 根据职级体系的四个序列及不同能力结构，设立相应的工作岗位，强调"
            b 术业有专攻
            ='"。'
        div(class='work-post')
            b 经营序列
            ul
                li(class='list-a',style='background:#f6bb45') 总经理
                li(class='list-a',style='background:#15a085') 副总经理
                li(class='list-a',style='background:#5d9cec') 行业总监
        div(class='work-post')
            b 管理序列
            ul(style='float:left; margin-right:15px;padding-right:15px; border-right:1px dashed #d7d7d7')
                li(class='list-b',style='background:#da4955') 项目总监
                li(class='list-b' style='background:#41afda') 产品总监
                li(class='list-b' style='background:#f6bb45') 技术总监
                li(class='list-b' style='background:#ec87c0') 咨询总监
            ul(style='float:left')
                li(class='list-a' style='background:#494e56') 项目经理
                li(class='list-a' style='background:#8cc154') 产品经理
                li(class='list-a' style='background:#52c1e9') 技术主管
        div(class='work-post')
            b 技术序列
            ul(style='float:left; margin-right:15px;padding-right:15px; border-right:1px dashed #d7d7d7')
                li(class='list-c' style='background:#da4955') 咨询分析师
                li(class='list-c' style='background:#15a085') 需求分析师
                li(class='list-c' style='background:#f6bb45') 产品架构师
                li(class='list-c' style='background:#d770ad') 视觉设计师
                li(class='list-c' style='background:#7fb746') 交互设计师
            ul(style='float:left;')
                li(class='list-d' style='background:#f6bb45') Java工程师
                li(class='list-d' style='background:#ec87c0') 前端工程师
                li(class='list-d' style='background:#41afda') 数据工程师
                li(class='list-d' style='background:#7fb746') GIS工程师
                li(class='list-d' style='background:#da4955') 实施工程师
                li(class='list-d' style='background:#5d9cec') 测试工程师




